{% extends 'notetake/base.html' %}
{% load humanize %}
{% block content %}
<div class="page-header">
        <a href="{% url 'note_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
        <h1><a href="/">Notes Lists</a></h1>
</div>
	{% for note in notes %}
		<div class="note">
			<div class="date">
			<p>Created: {{ note.created_on }}</p></div>
			<h2><a href="{% url 'note_detail' pk=note.pk %}">{{ note.title }}</a></h2>
			<p>{{ note.text }}</p>
			<div class="date">
			<p>Updated: {{ note.updated_on|naturaltime|linebreaksbr }}</p></div>
		</div>
	{% endfor %}
{% endblock %}	
	